node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz.env
*.tgz
*.vsix
.cache_ggshield
packages/mobile-pwa/.env
packages/shared/tsconfig.tsbuildinfo
.turbo/
.env
packages/mobile-pwa/.env.local
client/.env.local
.vercel
.blackboxcli/
logs/
attached_assets/clipboard-*
packages/vscode-extension/out/
packages/web-extension/dist/
